@font-face
{
    font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
h1,h2,a,p
{
	font-family: "ralewaythin";
}
body
{
	display: flex;
	flex-direction: column;
	

	margin-left: 51px;
	width: 1440px;
	height: 1900px;
	margin: auto;
}
header,#baner,#search,#filter,#section1,#section2
{
	padding-left: 51px;
}

header
{
	display: flex;
	width: 1346px;
	height: 113px;
}
#logo
{
	display: flex;
	align-items: center;

}
h1
{
	margin: 0px;
	font-size: 21px;
	margin-bottom: 10px;
}
nav
{
	display: flex;	
}
ul
{
	display: flex;
	margin-top: 0px;	
}
li
{
	list-style: none;
	margin: auto;
}
#header-nav
{
	width: 700px;
	height: 113px;
	padding-left: 750px;
	

}
#header-ul
{
	display: flex;
	justify-content: flex-end;
}
.header-li
{
	display: flex;
	justify-content: flex-end;
}
.header-a
{
	height: 75px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid;
	border-width: 1px;
	border-top-color: transparent;


}
.header-a:hover,focus
{
	
	
	border-top-color: rgb(000,000,255);
}

}
#baner
{
	width: 1448px;
	
}
#baner:nth-child
{
	


}
#icon-location
{
	width: 49px;
	height: 49px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:#F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;

}
#search
{
	display: flex;
	border: solid,
	border-width:5px;
	width: 1346px;
	height: 49px;
	margin-top: 18px;
	margin-bottom: 34px;
}
#search-segment
{
	width: 421px;
	height: 49px;
	display: flex;
	border:solid;
	border-color: transparent;


}
#search-segment:focus
{
	border-color: (000,000,255)
}
form
{
	display: flex;
}



input
{
	width: 236px;
	height:49px;
	font-family: "ralewaythin";
	font-weight: bold;
	font-size: 16px;
	

	border:	none;
	
	padding: 0px;
}
button
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
	font-family: "ralewaythin";
	font-size: 16px;
	font-weight: bold;
	color: rgb(255,255,255);
	border-style: none;
	
	
	width: 140px;
	height: 49px;
	
}


#filter
{
	
	width: 1346px;
	height: 114px;
	display: flex;
	font-weight: bold;
	flex-wrap: wrap;
}
#filtre
{
	display: flex;
	padding-left: 10px;
	margin-top: 18px;
	margin-bottom: 34px;
	font-weight: 1000;

}
#filter-ul
{
	padding-left: 0px;
}
.icon-filter
{
	width: 49px;
	height: 49px;
	border-radius: 25px;
	display: flex;
	background-color: #DEEBFF;
	align-items: center;
	justify-content: center;

}


.filter-select
{
	width: 194px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;
	
}
#filter-select-f
{
	width: 150px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;
}
#filter-select-a
{
	width: 239px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;
}


#info
{
	width: 558px;
	height: 59px;
	display: flex;
	align-items: center;
	
}
#icon-info
{

	width: 19px;
	height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	border: solid;color: #F2F2F2;
	margin-right: 11px;
	

}
#info-text
{
	margin: auto;
	margin-left: 0px;
	font-weight: normal;
}
#section1
{
	width: 1346px;
	height: 624px;
	margin-top: 20px;
	display: flex;

}
#hebergements
{
	
	width: 922px;
	height: 624px;
	background-color: #F2F2F2;
	border: dotted;
	margin-top: 20px;
	margin-right: 43px;
	border: 3px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

	
}

#section01
{
	width: 100%;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2
{
	margin-left: 25px;
	margin-top: 45px;
	width: 100%;
	font-size: 21px;
}


.carte
{
	width: 242px;
	height: 194px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	background: rgb(255,255,255);
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	margin-right: 30px;
	
}
.photos
{

	width: 100%;
	height: 60%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;

}
.text
{
	margin-left: 14px;
	margin-bottom:4px;
}
.name
{
	
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: bold;
}
.description
{
	padding-left: 16px;
}
.stars
{
	margin-left: 10px;
	
	height:17px; width:78px
}
p
{
	margin:0px;

}
aside
{
	width: 420px;
	height: 624px;
	display: flex;
	flex-direction: column;
	
	align-items:  center;
	background-color: #F2F2F2;
	border: 3px;
	margin-top: 20px;
	border-radius: 10px;
}
#graph
{
	width: 21px;
	height: 21px;
	margin-left: 115px;

}
.carte-aside
{
	width: 342px;
	height: 137px;
	display: flex;
	padding: 4px;
	margin-bottom: 30px;
	
	
	background-color: rgba(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;

}
.photos-aside
{
	width: 40%;
	height: 100%;
	
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
	

}
.name-aside
{
	margin-top: 4px;
	font-weight: bold;
}
#populaires
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
}
.icones-aside /*stars*/
{
	margin-top: 20px;
	height:17px; width:78px
}
}
#section2
{
	width: 1346px;
	margin-top: 58px;
	
}
#activites
{
	width: 1346px;
	height: 510px;
	display: flex;
	justify-content: space-between;
	margin-top: 31.5px;

}
.bloc-activites1
{
	width: 301px;
	height: 441px;
	
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
}
.photos-activites
{
	width: 100%;
	height: 90%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bloc-activites2
{
	
	border-radius: 10px;
	
}
.bloc-activites-paysage1
{
	width: 301px;
	height: 241px;
	border-radius: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	

}
.bloc-activites-paysage2
{
	width: 301px;
	height: 162px;
	margin-top: 38px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
}
.photos-activites-paysage1
{
	width: 100%;
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photos-activites-paysage2
{
	width: 100%;
	height: 70%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.nom-activite
{
	margin-top: 18px;
	margin-left: 14px;
	margin-bottom: 18px;
	font-weight: bold;
}
#afficher-plus
{
	width: 134px;
	height: 64px;
	padding-top: 21px;
	padding-left: 35px;
	font-size: 20px;
	font-family: "ralewaythin";
	font-weight: bold;
}

footer
{
	width: 100%;
	height: 246px;
	background-color: #F2F2F2;
	
	display: flex;
	justify-content: space-between;
	


}
.foot
{
	width: 311px;
	height: 135px;
	display: flex;
	flex-direction: column;
	margin: auto;

}
a
{
	text-decoration: none;
	color: rgb(000,000,000);
}


























