@font-face
{
    font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
h1,h2,h3,a,p
{
	font-family: "ralewaythin";
}
img
{
	object-fit: cover;
}
a
{
	text-decoration: none;
	color: black;

}
input
{
	font-family: "ralewaythin";
	font-weight: bold;
	font-size: 20px;
	color: black;
	/*! opacity: inherit; */
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #F2F2F2;
	/*! border-width: 2px; */
	height: 90%;
	border-left: none;
}

/*--------------------------------*MOBIL*---------------------------------*/
@media  (max-width: 600px)
{
html
{
	overflow-x: hidden;
}
body
{
	margin-left: 0px;
	margin-right: 0px;
	overflow-x: hidden;
}	
*
{
	box-sizing: content-box;	
	/*! margin-left: 20px; */
	/*! margin-right: 20px; */
}
p
{
	margin-top: 0px;
	margin-bottom: 0px;
}
h1
{
	/*! margin-top: 35px; */
}
li
{
	list-style: none;
}

#logo1
{
	width: 25%;
	height: 25%;
	margin-left: 20px;
}

#header-ul
{
	padding-left: 0px;
	display: flex;
	justify-content: space-between;
}
#header-li-h,#header-li-a
{
	width: 100%;
	height: 75px;
	text-align: center;
	position: relative;
	
}
.header-a
{
	position: absolute;
  	top: 40%;
  	transform: translateX(-50%);
  	height: 45%;
  	width: 100%;
  	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
}
#header-a-i
{
	color: #0065FC;
}
#header-li-i
{
	position: absolute;
	left: 78%;
	top: 25px;
}
#baner
{
	margin-left: 20px;
	/*! margin-right: 20px; */
}
.header-a:active /* liseret bottom*/
{
	border-bottom-color: #0065FC;	
	color: #0065FC;
}

h1,h2
{
	font-size: 130%;
	padding-right: 20px;
}
h1
{
	font-size: 1.4em;
	/*! margin-left: 20px; */
}
#bloc-location
{
	height: 50px;
	width: 50px;
	justify-content: center;
	display: flex;
	align-items: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:#F2F2F2;

}
#icon-location
{
	
	height: 40%;
	margin:auto;
}
#search
{
	display: flex;
	align-content: stretch;
	/*! margin-left: 20px; */
	/*! margin-right: 20px; */
	margin-top: 20px;
	margin-bottom: 20px;
}
button
{
	border-radius: 10px;
	background-color: #0065FC;
	font-size: 0px;
	color: rgb(255,255,255);
	border-style: none;
	width: 50px;
	height: 50px;
	padding: 0px;
}
form
{
	display: flex;

}
input
{
	font-size: 16px;
	font-weight: bold;
	border:	none;
	width: 233px;
	padding: 0px;
	

}
#loupe
{
	height: 40%;
}
#filtre
{
	padding-left: 20px;
	margin-top: 20px;
}
#filter-ul
{
	display: flex;
	flex-wrap: wrap;
}
.filter-select
{
	width: 50%;
	
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	align-items: center;
	margin-bottom: 12px;	
	border-left-width: 0px;
}

#filter-select-f
{
	width: 40%;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	align-items: center;
	margin-bottom: 12px;
	border-left-width: 0px;
	margin-left: 12px;
	
}	
#filter-select-a
{
	width: 60%;
	
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	align-items: center;
	margin-bottom: 12px;
	border-left-width: 0px;
	
}

.icon-filter
{
	width: 49px;
	height: 49px;
	border-radius: 25px;
	background-color: #DEEBFF;
	position: relative;
	margin-right: 12px;


	
}
.img-icon-filter
{
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
#filter-ul
{
	padding-left: 0;
}
#filter-text
{
	font-weight: bold;
	/*! margin-left: 20px; */

}
#infos
{
	display: flex;
	

}
#icon-info
{

	width: 19px;
	height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	border: solid;color: #F2F2F2;
	margin-right: 11px;
}
#img-icon-info
{
	height: 60%;
}
#info
{
	display: flex;
	/*! margin-left: 20px; */
	margin-bottom: 20px;
	margin-top: 20px;
}
#section1
{
	display: flex;
	flex-direction: column-reverse;
}
#graph
{
	height: 5%;
	width: 5%;
	padding-top: 4px;
	
}
aside
{
	background-color: #F2F2F2;
	padding-bottom: 20px;
	padding-top: 20px;


}
#popular
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}


.carte-aside
{
	
	height: 137px;
	display: flex;
	padding: 4px;
	background-color: rgba(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;
	margin-bottom:12px;
	margin-left: 20px;
	margin-right: 20px;


}
.photos-aside
{
	width: 40%;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}
#photos-aside-3
{
	flex-shrink: 0;
	width: 40%;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}
}

.name-aside
{
	margin-top: 4px;
	font-weight: bold;
}
.icones-aside
{
	width: 50%;
	height: 12%;
	margin-top: 25%;
}

.carte
{
	
	height: 200px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	background: rgb(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;
	margin-top: 12px;
	
	
}
.photos
{

	width: 100%;
	height: 60%;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;

}
.text
{
	margin-left: 15px;
	
}
.name
{
	font-weight: bold;
	
}
.description
{
	padding-left: 16px;
}
.stars
{
	margin-left: 10px;
	margin-top: 4px;
	height:8%;
	width: 30%;
}

#hebergements
{
	margin-left: 20px;
	margin-right: 20px;
}
#afficher-plus
{
	margin-top: 30px;
	font-weight: bold;
}
#section2
{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.activity-1,.bloc-activity-2,.bloc-activity-2_1,.bloc-activity-3
{	
	height: 190px;
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	margin-bottom: 25px;
}
.photo-activity-1,.photo-activity-2,.photo-activity-2_1,.photo-activity-3
{	width: 100%;
	height: 60%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.nom-activite
{
	padding: 10px;
	font-weight: bold;
	/*! text-align: left; */
	margin-top: revert;
}



footer
{
	background-color: #F2F2F2;
	padding-bottom: 30px;
	padding-top: 30px;
	/*! display: grid; */
	/*! justify-content: center; */

}

#bloc-foot
{
	margin-left: 20px;
}


/*---------------------DESKTOP--------------------------------*/
@media  (min-width: 600px)  
{
body
{
	/*! width: 1440px; */
	overflow-x: hidden;
	
	margin: 0;
	padding-top: 20px;
}
#bloc-header
{
	width: 60%;
}

header
{
	display: flex;
	/*! justify-content: space-between; */
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}
header,#baner,#filter,#search
{
	/*! margin-left: 20px; */
}
header,#baner,#filter,#search,#section1,#section2
{

}
#logo
{
	width: 126px;
	height: 38px;
	/*! height: 33px; */

}

#header-nav
{
	/*! position: absolute; */
	
	margin-left: 0px;
	width: 1250px;
    height: 61px;
    position: relative;
	justify-content: flex-end;
	display: grid;
}
#header-ul
{
	left: 800PX;
	/*! position: absolute; */
}
#logo1
{
	width: 100%;
}
ul
{
	display: flex;
	/*! flex-wrap: wrap; */
}
li
{
	list-style: none;
	margin: auto;
}

#header-ul
{
    padding-left: 0;
    margin: 0;

    width: 425px;
}
.header-li
{
	height: 100%;
}
.header-a,#header-a-i
{
	height: 75px;
	width: 152px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid;
	border-width: 1px;
	border-top-color: transparent;
}
#header-a-i
{
	/*! color: #0065FC; */ 
	/*! font-weight: bold; */
}
.header-a:hover
{
	border-top-color: rgb(000,000,255);
}
.header-a:focus
{
	color: #0065FC;
	border-top-color: rgb(000,000,255);

}

#header-a-i:hover
{
	border-top-color: rgb(000,000,255);
}


#baner0
{
	justify-content: center;
	display: flex;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#baner
{
	width: 1376px;
}
h1
{
	font-size: 1.5em;
}
#bloc-location
{
	width: 49px;
	height: 49px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:#F2F2F2;
	display: flex;
}
#icon-location
{
	height: 40%;
	margin: auto;
}
#search
{
	display: flex;
	border-width:5px;
	height: 49px;
	margin-top: 18px;
	margin-bottom: 34px;
	
}
form
{
	display: flex;
}

input
{
	width: 236px;
	/*! font-family: "ralewaythin"; */
	/*! font-weight: bold; */
	/*! font-size: 16px; */
	/*! border:	none; */
	/*! margin-top: 15px; */
}
button
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
	font-family: "ralewaythin";
	font-size: 16px;
	font-weight: bold;
	color: rgb(255,255,255);
	border-style: none;
	width: 140px;
	height: 49px;	
}
#loupe
{
	height: 0;
}
#filter
{
	display: flex;
	font-weight: bold;
	flex-wrap: wrap;
	/*! width: 800px; */
}
#filter-text
{
	margin-right: 23px;
	margin-top: 30px;
}


#filter-ul
{
	padding-left: 0px;
}
.icon-filter
{
	width: 49px;
	height: 49px;
	border-radius: 25px;
	display: flex;
	background-color: #DEEBFF;
	align-items: center;
	justify-content: center;
}
.img-icon-filter
{
	height: 40%;
}
.filter-select
{
	width: 194px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-right: 23px;	
	border-left-width: 0px;
}

#filter-select-f
{
	width: 148px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-right: 23px;
	border-left-width: 0px;

}
#filter-select-a
{
	width: 235px;
	max-height: 49px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-right: 23px;
	border-left-width: 0px;

}
.filter-select:hover
{
	background-color:#DEEBFF;
}
#filter-select-a:hover
{
	background-color:#DEEBFF;
}
#filter-select-f:hover
{
	background-color:#DEEBFF;
}
#info
{
	width: 558px;
	height: 59px;
	display: flex;
	align-items: center;
	
}
#icon-info
{

	width: 19px;
	height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	border: solid;color: #F2F2F2;
	margin-right: 11px;
}
#img-icon-info
{
	height: 50%;
}

#info-text
{
	margin: auto;
	margin-left: 0px;
	font-weight: normal;
}
#section1
{
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	padding-right: 10px;
	padding-left: 10px;
}
#hebergements
{
	
	 width: 879px; 
	padding-bottom: 2%;
	background-color: #F2F2F2;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	border: 3px;
	border-radius: 10px;
	margin-left: 0;
	 /*! justify-content: space-around; */
	 /*! display: grid; */
}

#section01
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	/*! align-content: space-around; */
}

h2
{
	margin-left: 23px;
	margin-top: 45px;
	width: 100%;
	font-size: 21px;
}


.carte
{
	width: 28%;
	
	padding: 6px;
	/*! padding-left: 6px; */
	/*! padding-right: 6px; */
	background: rgb(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;
	
	
	margin-bottom: 2%;
}
.photos
{
	height: 60%;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;

}
.text
{
	margin-left: 14px;
	margin-bottom:4px;
}
.name
{
	
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: bold;
}
.description
{
	padding-left: 16px;
}
.stars
{
	
	/*! height:8%; */ width:100px;
}

p
{
	margin:0px;
}
#afficher-plus
{
	margin-top: 0;
}
aside
{
	width: 420px;
 	background-color: #F2F2F2;
	border: 3px;
	margin-top: 20px;
	border-radius: 10px;
	/*! padding-left: 20px; */
}
#bloc-carte-aside
{
	/*! margin-left: auto; */
	margin-top: 15px;

	/*! padding-right: 50px; */
	/*! margin-right: auto; */
	/*! justify-content: center; */
	display: flex;
	flex-direction: column;
	/*! justify-content: center; */
	align-items: center;
}
#graph
{
	width: 21px;
	height: 21px;
	margin-right: 34px;
	margin-top: 28px;

}

.carte-aside
{
	width: 80%;
	height: 137px;
	display: flex;
	padding: 6px;
	background-color: rgba(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;
	
	margin-bottom: 7%;
}
.photos-aside
{
	width: 40%;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}
#photos-aside-3
{
	flex-shrink: 0;
	width: 40%;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}
.name-aside
{
	margin-top: 4px;
	font-weight: bold;
}
#popular
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.description
{
	position: relative;
}
.icones-aside /*stars*/
{
	position: absolute;
	top: 50%;
	height:10%; width:100px
}
#section2
{
	/*! width: 100%; */
	margin-top: 58px;
	/*! margin-left: 0; */
	/*! background-color: #F2F2F2; */
	display: grid;
	justify-content: center;
	/*! padding-right: 10px; */
	/*! padding-left: 10px; */
}
#h2-a
{

	/*! margin-left: 0; */
}
#activity
{
	display: flex;
	justify-content: center;
	margin-top: 31.5px;

	/*! width: 1375px; */
	/*! margin: auto; */
	/*! flex-wrap: nowrap; */
	/*! margin: auto; */
	max-width: 1375px;
}
#activity-A
	{
		display: flex;
		width: 50%;
		justify-content: space-around;
	}
#activity-B
{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin-left: 30px;
	/*! width: 50%; */
}
.activity-1
{
	width: 45%;
	height: 441px;
	
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	/*! margin-left: 2%; */
	margin-right: 20px;
}
.photo-activity-1
{
	width: 100%;
	height: 90%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.activity-2
{
	
	border-radius: 10px;
	margin-left:15px;
	/*! margin-right: 2%; */
	width: 48%;
	/*! margin-right: 20px; */
}
.bloc-activity-2
{
	/*! width: 301px; */
	height: 241px;
	border-radius: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	

}
.bloc-activity-2_1
{
	/*! width: 301px; */
	height: 162px;
	margin-top: 38px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
}
.bloc-activity-3
{
	/*! width: 301px; */
	height: 209px;
	border-radius: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	
}
.photo-activity-2
{
	/*! width: 100%; */
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photo-activity-2_1,.photo-activity-3
{
	/*! width: 100%; */
	height: 70%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.nom-activite

{
	padding: 10px;
	font-weight: bold;
	margin: initial;
}

#afficher-plus
{
	padding-top: 21px;
	padding-left: 35px;
	font-size: 20px;
	font-weight: bold;
	/*! margin-top: 5%; */
}

footer
{
	
	background-color: #F2F2F2;
	display: flex;

	justify-content: center;
}
#bloc-foot
{
	width: 1346px;
	display: flex;
	justify-content: space-around;
}
.foot
{
	
	margin-right: 218px;
	
	/*! padding-left: 5%; */
}
}

/*-----------------------TABLET-----------------------------------------*/
@media (min-width: 600px) and (max-width:1224px)
{
html
{
	overflow-x: hidden;
}
body
{
	margin-left: 0;
}

header
{
	width: auto;
	justify-content: center;
}
#header-nav
{
	margin-top: 80px;


}
#header-ul
{
 	position: absolute;
	left: 0px;
	width: 100%;
}
#header-li-h,#header-li-a,#header-li-i
{
	
	width: 100%;
}

.header-a,#header-a-i
{
	width: 100%;
	border-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	margin-right: 0px;
	margin-left:0px;
}
.header-a:active  
{
	border-bottom-color: #0065FC;	
	color: #0065FC;
	border-top-color: transparent;
}
#header-a-i:active 
{
	border-bottom-color: #0065FC;	
	color: #0065FC;
	border-top-color: transparent;
}
.header-a:hover 
{
	border-top-color: transparent;
}
#header-a-i:hover 
{
	border-top-color: transparent;
}

#header-nav
{
	width: 100%;
	left: 0px;
	position: absolute;
}
#baner0
{
	margin-left: 20px;
}
#baner
{
	margin-bottom: 5%;
	margin-top: 20%;
}

#filter
{
	width: auto;
}
#filter-ul
{
	flex-wrap: wrap;
}


header,#baner,#filter,#search,#section1,#section2
{
	/*! margin-left: 10px; */
	/*! margin-right: 10px; */
}


.filter-select,#filter-select-f 
{
	margin-bottom: 12px;
}

#section1
{
	flex-direction: column;
}
.carte
{
	width: 40%;
	/*! justify-content: space-around; */
	/*! display: grid; */
	margin-bottom: 20px;
	height: 190px;
}
#section1
{
	/*! width: 760px; */
	padding-left: inherit;
}
#hebergements
{
	width: 100%;
	/*! margin-left: 0; */
	padding-left: 0;
	border-radius: unset;
}

aside
{
	width:100%;
	padding-bottom: 5%;
	/*! padding-left: 30px; */
	margin-right: 30px;
	background-color: #F2F2F2;
	border-radius: unset;
	padding-left: 0;
	padding-right: inherit;
	/*! padding-left: 10px; */
}
#bloc-carte-aside,#popular
{
	padding-left: 20px;
	display: flex;
	justify-content: space-around;
	/*! margin-left: 0; */
	padding-left: 0;
	flex-direction: initial;
}
.carte-aside
{
	width: 28%;
	height: 150px;
}
#popular
{
	/*! width: 40%; */
	margin-right: 0;
}

#activity
{
	width: 95%;
	flex-wrap: wrap;
	/*! justify-content: space-between; */
	/*! justify-content: space-around; */
	/*! flex-direction: row; */
	/*! justify-content: center; */
	/*! margin: auto; */
	margin-left: auto;
	margin-right: auto;
}
#activity-A :nth-child(1)
{
	order: 2;
}
#section2
{
	margin-left: 0;
	margin-right: 0;
	justify-content: center;
}
#activity-A,#activity-B
{
	width: 100%;
	/*! justify-content: space-around; */
	margin-left: unset;
}
.activity-1,.activity-2
{
	/*! margin-left: 0px; */
	
	margin-right: unset;
	width: 50%;
	margin: 2%;
}




footer
{
	
}
.foot
{
	margin-right: 0px;
	width: auto;
	
}
}
@media (min-width: 1224px) and (max-width: 1262px)
{
.nom-activite
{
	margin-top: 0px;
}

}
@media  (max-width: 900px)
{
#filter-ul
{
	flex-wrap: wrap;
}
}
@media (min-width: 600px ) and ( max-width: 780px )
{

.carte-aside
{
	flex-direction: column;
	height: 200px;
}
.photos-aside,#photos-aside-3
{
	width: 100%;
	height: 50%;
	border-top-right-radius: 13px;
	border-bottom-left-radius:0px;
}
.icones-aside
{
	height: 30%;
}





}
/*-----------------MOBIL----------------*/
@media (min-width: 400px ) and ( max-width: 600px )
{
.carte,.carte-aside,.activity-1,.activity-2
{
	/*! width: 70%; */
	/*! margin-left: 15%; */
	/*! margin-right: 15%; */
}
}

