@font-face
{
    font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: 'ralewaythin';
    src: url('Polices/Raleway/static/Raleway-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
h1,h2,h3,a,p
{
	font-family: "ralewaythin";
}
img
{
	object-fit: cover;
}
body
{
	display: flex;
	flex-direction: column;
	width: 1540px;
	height: 1900px;
	margin: auto;


}
header,#baner,#filter,#section1,#section2,#search
{
	margin-left: 5%;
}

header
{
	display: flex;
	width: 1346px;
	height: 113px;
}
#logo
{
	display: flex;
	align-items: center;

}
h1
{
	margin: 0px;
	font-size: 21px;
	margin-bottom: 10px;
}
nav
{
	display: flex;	
}
ul
{
	display: flex;
	margin-top: 0px;	
}
li
{
	list-style: none;
	margin: auto;
}
#header-nav
{
	width: 700px;
	height: 113px;
	padding-left: 750px;
	

}
#header-ul
{
	display: flex;
	justify-content: flex-end;
}
.header-li /*peut etre pas utile...*/
{
	display: flex;
	justify-content: flex-end;
}
.header-a,#header-a-i
{
	height: 75px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid;
	border-width: 1px;
	border-top-color: transparent;


}
.header-a:hover,focus
{
	border-top-color: rgb(000,000,255);
}
#header-a-i:hover
{
	border-top-color: rgb(000,000,255);
}
}
#baner
{
	width: 100%;	
}

#icon-location
{
	width: 49px;
	height: 49px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:#F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;

}
#search
{
	display: flex;
	border-width:5px;
	width: 1346px;
	height: 49px;
	margin-top: 18px;
	margin-bottom: 34px;
	justify-content: flex-start;
}
#search-segment
{
	width: 421px;
	height: 49px;
	display: flex;
	margin-left: 0px;
	
}
form
{
	display: flex;
}



input
{
	width: 236px;
	height:49px;
	font-family: "ralewaythin";
	font-weight: bold;
	font-size: 16px;
	

	border:	none;
	
	padding: 0px;
}
button
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
	font-family: "ralewaythin";
	font-size: 16px;
	font-weight: bold;
	color: rgb(255,255,255);
	border-style: none;
	width: 140px;
	height: 49px;	
}
#loupe
{
	height: 0%;
}


#filter
{
	
	width: 80%;
	height: 114px;
	display: flex;
	font-weight: bold;
	flex-wrap: wrap;
}
#filtre
{
	display: flex;
	margin-top: 18px;
	margin-bottom: 34px;
	font-weight: 1000;

}
#filter-ul
{
	padding-left: 0px;
}
.icon-filter
{
	width: 49px;
	height: 49px;
	border-radius: 25px;
	display: flex;
	background-color: #DEEBFF;
	align-items: center;
	justify-content: center;

}


.filter-select
{
	width: 194px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;	
}

#filter-select-f
{
	width: 150px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;
}
#filter-select-a
{
	width: 239px;
	height: 47px;
	display: flex;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	margin-left: 23px;
}
.filter-select:hover
{
	background-color:#DEEBFF;
}
#filter-select-a:hover
{
	background-color:#DEEBFF;
}
#filter-select-f:hover
{
	background-color:#DEEBFF;
}
#info
{
	width: 558px;
	height: 59px;
	display: flex;
	align-items: center;
	
}
#icon-info
{

	width: 19px;
	height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	border: solid;color: #F2F2F2;
	margin-right: 11px;
	

}
#info-text
{
	margin: auto;
	margin-left: 0px;
	font-weight: normal;
}
#section1
{
	width: 1346px;
	height: 624px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
#hebergements
{
	
	width: 879px;
	height: 624px;
	background-color: #F2F2F2;
	
	margin-top: 20px;
	
	border: 3px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

	
}

#section01
{
	width: 100%;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-around;


	
}

h2
{
	margin-left: 25px;
	margin-top: 45px;
	width: 100%;
	font-size: 21px;
}


.carte
{
	width: 242px;
	height: 194px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	background: rgb(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;
	
	
}
.photos
{

	width: 100%;
	height: 60%;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;

}
.text
{
	margin-left: 14px;
	margin-bottom:4px;
}
.name
{
	
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: bold;
}
.description
{
	padding-left: 16px;
}
.stars
{
	margin-left: 10px;
	
	height:17px; width:40%
}
p
{
	margin:0px;

}
aside
{
	width: 420px;
	height: 624px;
	display: flex;
	flex-direction: column;
	align-items:  center;
	background-color: #F2F2F2;
	border: 3px;
	margin-top: 20px;
	border-radius: 10px;
}
#graph
{
	width: 21px;
	height: 21px;
	margin-right: 34px;
	margin-top: 28px;

}
#bloc-carte-aside
{
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.carte-aside
{
	width: 342px;
	height: 137px;
	display: flex;
	padding: 4px;
	background-color: rgba(255,255,255);
	border-radius: 15px;
	box-shadow: 2px 2px 10px grey;

}
.photos-aside
{
	width: 40%;
	height: 100%;
	
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
	

}
.name-aside
{
	margin-top: 4px;
	font-weight: bold;
}
#populaires
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
}
.icones-aside /*stars*/
{
	margin-top: 20px;
	height:17px; width:100px
}
}
#section2
{
	width: 1346px;
	margin-top: 58px;	
}
#h2-a
{
	margin-left: 1px;
}
#activites
{
	width: 1346px;
	height: 510px;
	display: flex;
	justify-content: space-between;
	margin-top: 31.5px;

}
.bloc-activites1
{
	width: 301px;
	height: 441px;
	
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
}
.photos-activites
{
	width: 100%;
	height: 90%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bloc-activites2
{
	
	border-radius: 10px;
	
}
.bloc-activites-paysage1
{
	width: 301px;
	height: 241px;
	border-radius: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	

}
.bloc-activites-paysage2
{
	width: 301px;
	height: 162px;
	margin-top: 38px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
}
.bloc-activites-paysage3
{
	width: 301px;
	height: 209px;
	border-radius: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	
}
.photos-activites-paysage1
{
	width: 100%;
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photos-activites-paysage2,.photos-activites-paysage3
{
	width: 100%;
	height: 70%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.nom-activite
{
	margin-top: 18px;
	margin-left: 14px;
	margin-bottom: 18px;
	font-weight: bold;
}
#afficher-plus
{
	width: 134px;
	height: 64px;
	padding-top: 21px;
	padding-left: 35px;
	font-size: 20px;
	font-family: "ralewaythin";
	font-weight: bold;
}

footer
{
	width: 100%;
	height: 246px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
}
.foot
{
	width: 311px;
	height: 135px;
	display: flex;
	flex-direction: column;
	margin: auto;
}
a
{
	text-decoration: none;
	color: rgb(000,000,000);
}


/*--------------------------------*MOBIL*---------------------------------*/
@media screen and (max-device-width: 415px)
{
body
{
	width: 470px;
	height: 5000px;
	
	
}
header
{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin-left: 0px;
	
}
#logo
{
	
	margin-top: 33px;
	margin-left: 20px;
}
#header-nav
{
	padding: 0px;
	width: 100%;
}
nav
{
	width: 100%;
	
}
#header-ul /*déstructuration des liens*/
{
	width: 100%;
	padding-left: 0px;
	margin: 0px;
	position: relative;
	margin-top: 10px;



}
#header-li-i/*placement du lien s'inscrire*/
{
	position: absolute;
	left: 60%;
	top: -50px;

}
#header-li-h,#header-li-a /*placement des liens heb, et activités*/
{
	height: 58px;
	width:100%;

}
.header-a
{
	height: 58px;
	width: 100%;
	border-bottom : solid;
	border-bottom-color: #F2F2F2;
	border-width: 2px;
	padding-right: 0px;
}
.header-a:hover/*disparition du liseret top*/
{
	border-top-color: transparent;
}
#header-a-i:hover
{
	border-top-color: transparent;
}
.header-a:active,focus /*apparition du liseret bottom*/
{
	border-bottom-color: #0065FC;
}
#baner
{
	width: 90%;
	margin-left: 20px;
	margin-top: 40px;
}
h1
{
	margin-top: 50px;
}
button
{
	height: 49px;
	width: 49px;
	font-size: 0px;
	margin-left: 15px;
}
#loupe
{
	height: 40%;
}

#search
{
	width: 346px;
	margin-left: 20px;
}
#search-segment
{
	width: 346px;
}
form
{
	width: 300px;
}
#filter
{
	
	flex-direction: column;
	width: 100%;
	height: 324px;
	margin-left: 15px;


}
#filtre
{
	margin-bottom: 16px;
}
#filter-ul
{
	width: 100%;
	flex-wrap: wrap;
	position: relative;
}
.filter-select
{
	margin-left: 0px;
	margin-bottom: 16px;
	width: 40%;
	

}
#filter-select-a /*Animaux*/
{
	position: absolute;
	top: 140px;
	left: -22px;
	
}
#filter-select-f /*Familial*/
{
	width: 138px;
	margin-left: 6%;
	margin-right: 42px;
	
}
#info
{
	width: 100%;
	margin-top: 51px;

}
#info-text
{
	width: 80%;
	flex-wrap: wrap;
}
#section1
{
	flex-direction: column-reverse;
	align-items: flex-start;
	width: 100%;
	height: 2200px;	
	margin-top: 0px;
	margin-left: 0px;
}

#hebergements
{
	width: 100%;
	background-color: transparent;
	height: 1500px;
	padding-left: 0px;
	margin-top: 0px;

}
h2
{
	margin-bottom: 0px;
	margin-top: 0px;
}
#graph
{
	margin-left: 75px;
}
aside
{
	height: 600px;
	width: 100%;
	border-radius: 0;
}
#graph
{
	margin-bottom: 20px;
}
#bloc-carte-aside
{
	align-items: center;
	width: 100%;
}
.carte-aside
{
	width: 85%;
	margin-top: 20px;
	margin-bottom: 0px;
	
}
.icones-aside
{
	margin-top:0px;
}
#section01
{
	align-items: flex-start;
	justify-content: space-around;
	padding-left: 0px;
	height: 1500px;
	width: 100%;
	margin-top: 20px;
	
}
.carte
{
	width: 85%;
	margin-right: 0px;	
}
.stars
{
	width: 25%;
}
#section2
{
	flex-direction: column;
	width: 100%;
	height: 1353px;
	margin-left: 0px;
}

#activites
{
	flex-direction: column;
	width: 100%;
	height: 1300px;
	margin-top: 20px;
	align-items: center;
	justify-content: space-around;
}
.bloc-activites1,.bloc-activites-paysage1,.bloc-activites-paysage2,.bloc-activites-paysage3
{
	width: 360px;
	height: 194px;
	margin-bottom: 30px;

	
}
.bloc-activites2
{
	align-items: center;
}
.bloc-activites-paysage2
{
	margin-top:0px;
	margin-left: 0px;	
	
}
.bloc-activites-paysage1
{
	margin-bottom: 30px;
	margin-left: 0px;	
	
}
.photos-activites, .photos-activites-paysage1
{
	height: 70%;
}

.nom-activite
{
	margin-bottom: 0px;
}
footer
{
	flex-direction: column;
	width: 100%;
	height: 520px;
}
}


}
















